<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I LOVE HUE TOO</title>
    <link th:href="@{/CSS/AdminStyle.css}" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link type="img" rel="logo" href="/img/logo.png">

   </head>
<body class="body" >
<h3 style="text-align: center">Личный кабинет администратора</h3>

<div class="outBtn">
<form  th:method="POST" th:action="@{/logout}">
    <input style="padding: 11px 16px;" class="out" type="submit" value="Выйти из личного кабинета">
</form>
</div>

<div class="grid">
    <div class="item">
        <a style="text-decoration: none" href="/admin/product/add">Добавить товар</a>
    </div>
    <div class="item">
        <a style="text-decoration: none" href="/admin/person">Пользователи</a>
    </div>
    <div class="item">
        <a style="text-decoration: none;" href="/admin/orders">Заказы</a>
    </div>

</div>

<h3>Каталог товаров</h3>
<div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div style="justify-content: center"  th:each="product : ${products}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}"  alt="...">
            <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
            <div class="card-body">
                <textarea th:text="'Описание: ' + ${product.getDescription()}"></textarea>
                <p class="price" th:text="'Цена: ' + ${product.getPrice()}"></p>
                <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
                <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
                <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товар</a>
                    </li>
                </ul>
                <br>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>