@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    /*background-color:#87CEFA;*/
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
img{
    width: 300px;
    border-radius: 15px;
}